#+title: {{DATE_TITLE}}
#+filetags: :daily:

* tasks
#+BEGIN: org-ql :query (todo) :from "/home/joebutler/documents/projects/tasks.org"
#+END:

* routine

** daily to-dos
- [ ] anki
- [ ] mathacademy
- [ ] GRE
- [ ] reading

** habits
- [ ] take weight
- [ ] hrv reading
- [ ] svs
- [ ] reading
- [ ] greens
- [ ] supplements
- [ ] oil pull

** metrics
:PROPERTIES:
:STEPS:
:PAGES:
:END:



* scratch
