#+title: {{DATE_TITLE}}
#+filetags: :daily:

* tasks

* routine

** daily to-dos
- [ ] anki
- [ ] mathacademy
- [ ] GRE

** habits

*** TODO exercise :habit:
   SCHEDULED: <{{DATE_SCHEDULED}} +1d>
   :PROPERTIES:
   :STYLE:    habit
*** TODO review inbox :habit:
   SCHEDULED: <{{DATE_SCHEDULED}} +1d>
   :PROPERTIES:
   :STYLE:    habit

**metrics
:PROPERTIES:
:STEPS:
:PAGES:
:EXERCISE_MIN:
:END:

* scratch
